.patientInfo {
    margin:10px;
}
div.twelveLead {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "area1 area2 area3 area4",
      "area5 area6 area7 area8",
      "area9 area10 area11 area12"
    }

div.area1 {
  grid-area: area1;
}

div.area2 {
  grid-area: area2;
}

div.area3 {
  grid-area: area3;
}

div.area4 {
  grid-area: area4;
}

div.area5 {
  grid-area: area5;
}

div.area6 {
  grid-area: area6;
}

div.area7 {
  grid-area: area7;
}

div.area8 {
  grid-area: area8;
}

div.area9 {
  grid-area: area9;
}

div.area10 {
  grid-area: area10;
}

div.area11 {
  grid-area: area11;
}

div.area12 {
  grid-area: area12;
}